<div style="display: flex;justify-content: center">
    <div style="text-align: left">
        <a href="https://qm.qq.com/q/qZ7q8mm8nu" style="height: 1em;" target="_blank">
            <img src="/images/QQqun25.svg" alt="QQ群" style="vertical-align: middle;"> 招新群:464381277
        </a>
        <br>
        <a href="http://kook.top/MvqK94" style="height: 1em;" target="_blank">
            <img src="/images/kook25.svg" alt="KOOK频道" style="vertical-align: middle;"> KOOK频道链接
        </a>
        <br>
        <a href="https://seat.winterco.space/auth/login" style="height: 1em;" target="_blank">
            <img src="/images/pan.png" alt="联盟SEAT" style="vertical-align: middle;height: 1.8em;"> 联盟SEAT
        </a>
    </div>
</div>